* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  width: 100%;
  height: 80px;
  background-color: #dd765b;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-img {
  width: 202.9px;
  height: 160px;
  margin-left: -220px;
}
.header-img img {
  width: 100%;
  height: 100%;
}
.header-nav {
  display: inline-block;
}
.header-nav-item {
  display: inline-block;
  color: #1e0803;

  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.2px;
  margin: 32px;
}
.header-nav-item a {
  text-decoration: none;
  color: #1e0803;
}
.header-nav-item a:hover {
  opacity: 0.5;
}
/* FOOTER */
.footer {
  width: 100%;
  height: 267px;
  background-color: #ff9763;
  position: relative;
}
.footer-social {
  height: 60px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #ff9763;
  border-top: 1px solid #fff;
}
.footer-title {
  width: 201px;
  height: 11px;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}
.footer-title p {
  color: #fff;
  font-family: Itim;
  font-size: 11.41px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer-social-logo {
  min-width: 130px;
  min-height: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
  background-color: #ff9763;
}
.footer-social-logo .fa-footer {
  color: #e84b23;
  font-size: 22px;
  margin: 15px 15px 15px 10px;
}
.footer-social-logo .fa-footer:hover {
  opacity: 0.5;
}
.footer-container {
  position: absolute;
  top: 0;
  background-color: #ff9763;
  width: 100%;
  height: 207px;
}
.footer-logo {
  width: 305px;
  height: 190px;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}
.footer-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer-quick-link {
  width: 139px;
  height: 96px;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  left: 30%;
  background-color: #ff9763;
}
.footer-quick-link .quick-link-title {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-family: Itim;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-quick-link .quick-link-item-1,
.footer-quick-link .quick-link-item-2 {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #fff;
  font-family: Itim;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-quick-link .quick-link-item-1 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.footer-quick-link .quick-link-item-2 {
  position: absolute;
  left: 0;
  margin-top: 10px;
  bottom: 0;
}
.quick-link-title::after {
  content: "";
  display: inline-block;
  border: 1px solid #fff;
  position: absolute;
  width: 111px;
  bottom: 0;
  right: 0;
}
.footer-other {
  width: 225px;
  height: 163px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 47%;
  background-color: #ff9763;
}
.footer-other-title-item {
  width: auto;
  height: 91.1%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ff9763;
}
.footer-other-terms {
  width: 222px;
  height: 8.9%;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.footer-other-terms p {
  color: #fff;
  font-family: Itim;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-other-title-item p {
  margin-top: 10px;
  color: #fff;
  font-family: Itim;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-other-title-item h3 {
  color: #fff;
  font-family: Itim;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-other-title-item h3::after {
  content: "";
  display: inline-block;
  border: 1px solid #fff;
  position: absolute;
  width: 100px;
  top: 16%;
  right: 40%;
}
.footer-send-notify {
  width: 353px;
  height: 94px;
  position: absolute;
  left: 67%;
  top: 34%;
  transform: translateY(-50%);
  background-color: #ff9763;
}
.footer-send-notify-title {
  position: absolute;
  top: 0;
  left: 0;
}
.footer-send-notify-title p {
  color: rgba(255, 255, 255, 0.9);
  font-family: Itim;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 144.444% */
}
.footer-send-input input {
  position: absolute;
  bottom: -56px;
  left: 0;
  border-radius: 15px;
  background: #fff;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.footer-btn-sub {
  width: 112.456px;
  height: 38.143px;
  position: absolute;
  border-radius: 15px;
  background: #e84b23;
  bottom: 0;
  left: 50%;
  border: 1px;
}
.footer-btn-sub p {
  color: #fff;
  font-family: Itim;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.footer-send-input {
  position: relative;
  width: 259.811px;
  height: 38.143px;
}
/* NEWS */
.news-page {
  height: 2000px;
  width: 100%;
  background-color: #333;
}
.news-page .news-page-header {
  width: 100%;
  height: 500px;
  position: relative;
}
.news-page-header .news-page-header-img {
  width: 100%;
  height: 500px;
  position: absolute;
}
.news-page-header .news-page-header-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0px -136px;
  position: absolute;
  top: 0;
}
.news-page-header .news-page-header-background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
}
.news-page-header .news-page-header-title {
  position: absolute;
  width: 750px;
  height: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.news-page-header-title .news-title-1,
.news-page-header-title .news-title-2 {
  width: 100%;
  height: 50px;
  margin-bottom: 50px;
}
.news-page-header-title .news-title-1 h3 {
  color: #fff;
  text-align: center;
  font-family: Itim;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 62px; /* 110.714% */
}
.news-page-header-title .news-title-2 {
  overflow: hidden;
  color: #fff;
  white-space: nowrap;
  font-family: Itim;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 143.478% */
  text-transform: lowercase;
  text-align: center;
}
/* NEWS PAGE BODY */
.news-page .news-page-body {
  background-color: #fff;
  height: 1500px;
  position: relative;
}
.news-page-body .news-page-body-1 {
  height: 431px;
  width: 1115px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}
.news-page-body-1 .body-1-container-1 {
  height: 33px;
  width: 100%;
  position: absolute;
}
.news-page-body-1 .body-1-container-1 h4 {
  position: absolute;
  color: #000;
  font-family: Itim;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  top: -15px;
  left: 0;
}
.news-page-body-1 .body-1-container-1 a {
  position: absolute;
  top: 0;
  right: 0;
  font-family: Itim;
  font-style: 30px;
}
.news-page-body-1 .body-1-container-2 {
  width: 1115px;
  height: 381px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
.news-page-body-1 .body-1-container-2 .body-1-container-item {
  width: 353px;
  height: 381px;
  position: relative;
}
.body-1-container-2 .body-1-container-item .body-1-img {
  width: 350px;
  height: 250px;
  position: absolute;
  top: 0;
}
.body-1-container-2 .body-1-container-item .body-1-img img {
  width: 100%;
  height: 100%;
}
.body-1-container-item .body-1-item-title-1 {
  position: absolute;
  width: 350px;
  height: 59px;
  bottom: 15%;
  left: -15px;
}
.body-1-container-item .body-1-item-title-1 h5 {
  color: #000;
  text-align: center;
  font-family: Itim;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.body-1-container-item .body-1-item-title-2 {
  position: absolute;
  width: 353px;
  height: 48px;
  bottom: 5%;
  left: 0;
}
.body-1-container-item .body-1-item-title-2 p {
  overflow: hidden;
  color: #6b6b6d;
  text-overflow: ellipsis;
  font-family: Itim;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  text-transform: lowercase;
}
.body-1-container-item .body-1-item-title-2 a {
  position: absolute;
  right: 2px;
  bottom: -18px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Itim;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  text-transform: lowercase;
}
