* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Itim;
}
img {
  cursor: pointer;
}
.header {
  width: 100%;
  height: 80px;
  background-color: #dd765b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 2;
}
.header-img {
  width: 202.9px;
  height: 68px;
  margin-left: -220px;
  position: relative;
}
.header-img a {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}
.header-img img {
  width: 100%;
  height: 100%;
}
.header-nav {
  display: inline-block;
}
.header-nav-item {
  display: inline-block;
  color: #1e0803;

  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.2px;
  margin: 32px;
}
.header-nav-item a {
  text-decoration: none;
  color: #1e0803;
  position: relative;
}
/* FOOTER */
.footer {
  width: 100%;
  height: 267px;
  background-color: #ff9763;
  position: relative;
}
.footer-social {
  height: 60px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #ff9763;
  border-top: 1px solid #fff;
}
.footer-title {
  width: 201px;
  height: 11px;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}
.footer-title p {
  color: #fff;
  font-family: Itim;
  font-size: 11.41px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer-social-logo {
  min-width: 130px;
  min-height: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
  background-color: #ff9763;
}
.footer-social-logo .fa-footer {
  color: #e84b23;
  font-size: 22px;
  margin: 15px 15px 15px 10px;
}
.footer-social-logo .fa-footer:hover {
  opacity: 0.5;
}
.footer-container {
  position: absolute;
  top: 0;
  background-color: #ff9763;
  width: 100%;
  height: 207px;
}
.footer-logo {
  width: 269px;
  height: 105px;
  position: absolute;
  left: 5%;
  top: 30%;
  transform: translateY(-50%);
}
.footer-logo a {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}
.footer-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer-quick-link {
  width: 139px;
  height: 96px;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  left: 30%;
  background-color: #ff9763;
}
.footer-quick-link .quick-link-title {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-family: Itim;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-quick-link .quick-link-item-1,
.footer-quick-link .quick-link-item-2 {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #fff;
  font-family: Itim;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-quick-link .quick-link-item-1 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.footer-quick-link .quick-link-item-2 {
  position: absolute;
  left: 0;
  margin-top: 10px;
  bottom: 0;
}
.quick-link-title::after {
  content: "";
  display: inline-block;
  border: 1px solid #fff;
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
}
.footer-other {
  width: 225px;
  height: 163px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 47%;
  background-color: #ff9763;
}
.footer-other-title-item {
  width: auto;
  height: 91.1%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ff9763;
}
.footer-other-terms {
  width: 222px;
  height: 8.9%;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.footer-other-terms p {
  color: #fff;
  font-family: Itim;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-other-title-item p {
  margin-top: 10px;
  color: #fff;
  font-family: Itim;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-other-title-item h3 {
  color: #fff;
  font-family: Itim;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-other-title-item h3::after {
  content: "";
  display: inline-block;
  border: 1px solid #fff;
  position: absolute;
  width: 30%;
  top: 16%;
  right: 70%;
}
.footer-send-notify {
  width: 353px;
  height: 94px;
  position: absolute;
  left: 67%;
  top: 34%;
  transform: translateY(-50%);
  background-color: #ff9763;
}
.footer-send-notify-title {
  position: absolute;
  top: 0;
  left: 0;
}
.footer-send-notify-title p {
  color: rgba(255, 255, 255, 0.9);
  font-family: Itim;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 144.444% */
}
.footer-send-input input {
  position: absolute;
  bottom: -56px;
  left: 0;
  border-radius: 15px;
  background: #fff;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.footer-btn-sub {
  width: 112.456px;
  height: 38.143px;
  position: absolute;
  border-radius: 15px;
  background: #e84b23;
  bottom: 0;
  left: 50%;
  border: 1px;
}
.footer-btn-sub p {
  color: #fff;
  font-family: Itim;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.footer-send-input {
  position: relative;
  width: 259.811px;
  height: 38.143px;
}
/* BODY */
.body {
  height: 2750px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: rgba(245, 245, 245, 1);
  align-items: center;
  position: relative;
}
/* SECTION */
.body .section {
  width: 50%;
  height: 1710px;
  background-color: #fff;
  margin-left: 100px;
  position: relative;
  margin-bottom: 800px;
}
.section .section-header {
  width: 90%;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
}
.body .section-new-read {
  position: absolute;
  left: 121px;
  bottom: 14%;
  width: 50%;
  height: 510px;
}
.section-new-read .section-new-read-header {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 50px;
}
.section-new-read .section-new-read-header h3 {
  font-size: 24px;
  font-weight: 600;
}
.section-new-read .section-new-read-container {
  height: 400px;
  position: absolute;
  bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.section-new-read-container .body-1-container-item {
  width: 235px;
  height: 400px;
  position: relative;
}
.section-new-read-container .body-1-container-item:hover {
  box-shadow: 1px 1px 20px 3px #000;
  border-radius: 5px;
}
.body-1-container-item .body-1-img {
  width: 235px;
  height: 220px;
  position: absolute;
  top: 0;
  right: 0;
}
.body-1-container-item .body-1-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.body-1-container-item .body-1-item-title-1 {
  position: absolute;
  width: 235px;
  height: 59px;
  bottom: 28%;
  left: -6px;
}
.body-1-container-item a {
  width: 100%;
  height: 100%;
  position: absolute;
}
.body-1-container-item .body-1-item-title-1 h5 {
  color: #000;
  text-align: center;
  font-family: Itim;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.body-1-container-item .body-1-item-title-2 {
  position: absolute;
  width: 235px;
  height: 48px;
  bottom: 12%;
  left: 0;
}
.body-1-container-item .body-1-item-title-2 p {
  overflow: hidden;
  color: #6b6b6d;
  font-family: Itim;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.body-1-container-item .body-1-item-title-2 a {
  position: absolute;
  right: 2px;
  bottom: -18px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Itim;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  text-transform: lowercase;
}
.section-new-read-container .section-new-read-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 40px;
  bottom: -19%;
}
.section-new-read-container .section-new-read-btn button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 40px;
  bottom: -19%;
  border-radius: 15px;
  background: #fff;
  transition: 0.3s;
  display: inline-block;
  border: none;
  color: #e84b23;
  font-size: 20px;
}
.section-new-read-container .section-new-read-btn:hover button {
  background-color: #e84b23;
  color: #fff;
}
.section-new-read-btn a {
  width: 100%;
  height: 100%;
  position: absolute;
}
/* COMMENT */
.body .section-comment {
  position: absolute;
  width: 50%;
  bottom: 1%;
  height: 10%;
  left: 121px;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.section-comment .fb-comments {
  width: 100%;
  height: 100%;
}
.section-header .section-header-title {
  height: 50%;
  width: 100%;
}
.section-header .section-header-title h1 {
  font-family: Itim;
}
.section-header .section-header-time {
  height: 25%;
  width: 100%;
  position: relative;
}
.section-header .section-header-time p {
  position: absolute;
  bottom: 0;
  font-family: Itim;
}
.section-header .section-header-author {
  height: 25%;
  width: 100%;
  position: relative;
}
.section-header .section-header-author p {
  font-family: Itim;
  position: absolute;
  bottom: 0;
}
/* SECTION IMG */
.section .section-img {
  width: 100%;
  height: 446.28px;
  position: absolute;
  top: 12%;
}
.section .section-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section .section-body {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
}
.section .section-body span {
  font-family: Itim;
  font-size: 18px;
  line-height: 1.6;
}
/* ASIDE */
.body .aside {
  width: 30%;
  height: 1710px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 100px;
  background-color: #fff;
  margin-bottom: 800px;
}
.aside .aside-container {
  height: 1410px;
  width: 100%;
}
.aside-container .aside-title {
  width: 100%;
  height: 50px; /*height auto to the title */
  position: relative;
}
.aside-container .aside-title h3 {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-family: Itim;
}
.aside-container .aside-list {
  width: 100%;
  height: 1360px;
}
.aside-list .aside-list-item {
  width: 100%;
  height: 170px;
  margin-top: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  transition: 0.3s;
  position: relative;
}
.aside-list .aside-list-item:hover {
  box-shadow: 1px 1px 20px 3px #adb6bb;
  border-radius: 5px;
}
.aside-list-item a {
  position: absolute;
  width: 100%;
  height: 100%;
}
.aside-list-item .aside-list-img {
  height: 120px;
  width: 30%;
}
.aside-list-item .aside-list-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.aside-list-item .aside-list-container {
  width: 60%;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
.aside-list-container .aside-list-title-1,
.aside-list-container .aside-list-title-2,
.aside-list-container .aside-list-title-3 {
  width: 100%;
  max-height: 20%;
  margin-bottom: 5px;
}
.aside-list-container .aside-list-title-3 {
  margin-top: 30px;
}
.aside-list-container .aside-list-title-3 p,
.aside-list-container .aside-list-title-2 p {
  font-family: Itim;
  font-weight: 50;
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.aside-list-container .aside-list-title-1 h4 {
  font-size: 18px;
  font-family: Itim;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* EFFECT HOVER MENU */
.header-nav-item a::after {
  content: "";
  background-color: #fff;
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
.header-nav-item:hover a::after {
  width: 100%;
}
.header-nav-item span {
  background-color: #fff;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
}
