* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Itim;
}
img {
  cursor: pointer;
}
.header {
  width: 100%;
  height: 80px;
  background-color: #dd765b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 2;
}
.header-img {
  width: 202.9px;
  height: 68px;
  margin-left: -220px;
  position: relative;
}
.header-img a {
  width: 100%;
  height: 100%;
  position: absolute;
}
.header-img img {
  width: 100%;
  height: 100%;
  position: absolute;
}
.header-nav {
  display: inline-block;
}
.header-nav-item {
  display: inline-block;
  color: #1e0803;

  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.2px;
  margin: 32px;
}
.header-nav-item a {
  text-decoration: none;
  color: #1e0803;
  position: relative;
}
/*INTRO*/
.intro {
  width: 100%;
  height: 682px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  overflow: hidden;
  gap: 30px;
}
.intro-img img {
  width: 100%;
  height: 90%;
  margin-top: 67px;
  object-fit: cover;
}

.intro-title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.intro-title-table {
  width: 573px;
  height: 386px;
}
.intro-header {
  color: #61655f;
  font-family: Itim;
  font-size: 35px;
  font-weight: 400;
  padding: 30px;
  position: relative;
}
.intro-header h5 {
  position: absolute;
  left: 0;
  top: 0;
}
.intro-section-big {
  width: 542px;
  height: 160px;
  position: relative;
  margin-bottom: 30px;
}
.intro-section-big h1 {
  color: #252b42;
  font-family: Itim;
  font-size: 45px;
  font-weight: 400;
  position: absolute;
  left: 0;
  text-transform: uppercase;
}
.intro-section-small {
  width: 338px;
  height: 60px;
  position: relative;
  margin-bottom: 30px;
}
.intro-section-small h4 {
  color: #737373;
  font-family: Itim;
  font-size: 22px;
  width: 400px;
  position: absolute;
  left: 0;
}
.intro-button {
  height: 52px;
  width: 100%;
  position: relative;
}
.intro-button .intro-about-us {
  position: absolute;
  left: 0;
  border: 1px solid #e84b23;
  border-radius: 5px;
  height: 100%;
  width: 172px;
  background-color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.intro-button .intro-about-us a {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.intro-button .intro-about-us span {
  color: #e84b23;
  font-family: Itim;
  font-size: 20px;
  font-weight: 400;
  transition: 0.3s;
}
.intro-button .intro-about-us:hover span,
.intro-button .intro-contact:hover span {
  color: #fff;
}
.intro-button .intro-about-us:hover,
.intro-button .intro-contact:hover {
  background-color: #e84b23;
}
.intro-button .intro-contact {
  position: absolute;
  left: 182px;
  border: 1px solid #e84b23;
  border-radius: 5px;
  width: 172px;
  height: 100%;
  background-color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.intro-button .intro-contact a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.intro-button .intro-contact span {
  color: #e84b23;
  font-family: Itim;
  font-size: 20px;
  font-weight: 400;
}
/*ABOUT US */
.about-us {
  height: 708px;
  width: 100%;
  background: linear-gradient(
    0deg,
    #facbb3 21.74%,
    rgba(211, 241, 251, 0.2) 62.61%
  );
}

.about-us {
  position: relative;
}
.about-us-header {
  color: #e84b23;
  text-align: center;
  font-family: Itim;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100px;
}
.about-us-vector {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 305px;
}
.about-us-vector img {
  width: 100%;
  height: 100%;
}
.about-us-section {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 802px;
  height: 323px;
  position: absolute;
  bottom: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.about-us-img {
  width: 390px;
  height: 333px;
  border: 1px solid #000;
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.about-us-img img {
  width: 100%;
  height: 100%;
}
.about-us-title {
  width: 568px;
  height: 231px;
  position: absolute;
  left: 50%;
  color: #6b6b6d;
  font-size: 23px;
  font-family: Itim;
  font-weight: 400;
}
/*BUTTON ABOUT US */
.about-us-more-btn {
  border-radius: 66px;
  background: #fff;
  box-shadow: 15px 15px 15px 0px rgba(107, 149, 195, 0.5);
  width: 155px;
  height: 40px;
  border: none;
  margin-top: 20px;
  transition: 0.3s;
}
.about-us-more-btn:hover {
  background-color: #e84b23;
}
.about-us-more-btn:hover .about-us-more-title {
  color: #fff;
}
.about-us-more-btn a {
  text-decoration: none;
}
.about-us-more-title {
  color: #e84b23;
  font-family: Itim;
  font-weight: 400;
  font-size: 22px;
}
/*representative */
.representative {
  height: 872px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  background: rgba(245, 245, 245, 1);
  position: relative;
  column-gap: 20px;
  overflow: hidden;
  padding: 25px 25px 0px 25px;
  align-items: center;
}
.representative h1 {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
}
.representative-card {
  width: 600px;
  height: 515px;
  position: relative;
  border-radius: 15px;
  max-width: 400px;
  left: 25px;
  background: rgba(245, 245, 245, 1);
  box-shadow: 15px 15px 4px 0px rgba(0, 0, 0, 0.25);
}
.representative-card-img {
  width: 100%;
  height: 100%;
  border: 8px solid #ffffff;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.representative-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.representative-card-img .representative-card-blur {
  width: 100%;
  height: 100%;
  background-color: #1f3d4738;
  border-radius: 20px;
  position: absolute;
  right: -100%;
  top: 0;
  backdrop-filter: blur(5px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  transition: 0.8s;
}
.representative-card-img:hover .representative-card-blur {
  right: 0;
}
.representative-card-blur .representative-card-title-1 {
  width: 100%;
  height: 40px;
}
.representative-card-blur .representative-card-title-2 {
  width: 100%;
  height: 25px;
  position: absolute;
  top: 15%;
}
.representative-card-blur .representative-card-title-3 {
  width: 100%;
  height: 200px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}
.representative-card-blur .representative-card-title-1 h1 {
  text-transform: capitalize;
}
.representative-card-blur .representative-card-title-2 h3 {
  text-align: center;
}
.representative-card-blur .representative-card-title-3 p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
.representative-card-blur .representative-card-btn {
  position: absolute;
  width: 180px;
  height: 40px;
  border-radius: 15px;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
}
.representative-card-blur .representative-card-btn button {
  position: absolute;
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 15px;
  border: none;
  color: #e1380d;
  background-color: #fff;
  transition: 0.3s;
  font-size: 18px;
}
.representative-card-blur .representative-card-btn:hover button {
  background-color: #e1380d;
  color: #fff;
}
.representative-card-btn a {
  position: absolute;
  width: 100%;
  height: 100%;
}
.representative-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 40px;
  bottom: 5%;
}
.representative-btn button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 40px;
  bottom: 5%;
  border-radius: 15px;
  background: #fff;
  transition: 0.3s;
  display: inline-block;
  border: none;
  color: #e84b23;
  font-size: 20px;
}
.representative-btn:hover button {
  background-color: #e84b23;
  color: #fff;
}
.representative-btn a {
  position: absolute;
  width: 100%;
  height: 100%;
}
.picture-school {
  width: 100%;
  height: 918px;
  position: relative;
  background-color: #fff6f1;
}
.picture-school-container {
  width: 894px;
  height: 666px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.picture-news {
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 20px;
}
.picture-news-img {
  position: relative;
  transition: 0.3s;
}
.picture-news-img:hover {
  box-shadow: 1px 1px 20px 3px #000;
  border-radius: 5px;
}
.picture-news-img a {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.picture-news-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.picture-school-container h1 {
  padding-bottom: 100px;
  color: #e1380d;
  text-shadow: 15px 15px 8px rgba(255, 151, 99, 0.35);
  font-family: Itim;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 118.75% */
  letter-spacing: 0.3px;
  text-decoration-line: underline;
  text-transform: uppercase;
}
.picture-school-container .btn-more {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 40px;
  bottom: -100px;
  border-radius: 15px;
  background: #fff;
  transition: 0.3s;
  display: inline-block;
}
.picture-school-container .btn-more button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border: none;
  cursor: pointer;
  font-family: Itim;
  font-size: 20px;
  font-weight: 400;
  color: #e84b23;
  line-height: 18px;
  transition: 0.3s;
  display: inline-block;
}
.picture-school-container .btn-more:hover {
  background-color: #e84b23;
}
.picture-school-container .btn-more:hover button {
  color: #fff;
  background-color: #e84b23;
}
/* RATING */
.rating {
  width: 100%;
  height: 989px;
  background-color: #fff4ee;
  position: relative;
}
.rating-container {
  width: 1050px;
  height: 100%;
  background-color: #fff4ee;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.rating-container .rating-container-people {
  width: 100%;
  height: 700px;
  background-color: #fff4ee;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rating-container-people .rating-card-1 {
  width: 508px;
  height: 380px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 15px;
  background-color: #fff;
  transition: 0.5s;
}
.rating-container-people .rating-card-2 {
  width: 508px;
  height: 380px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 15px;
  background-color: #fff;
  transition: 0.5s;
}
/* RATING CARD 1,2 */
.rating-card-1:hover,
.rating-card-2:hover {
  height: 550px;
}
.rating-card-1:hover .rating-card-img-1,
.rating-card-2:hover .rating-card-img-2 {
  top: -50px;
  width: 300px;
  /* border: 10px solid #fff; */
  box-shadow: 0 0 0 20px #fff4ee;
  border-radius: 15px;
  background-color: #fff;
}
.rating-card-img-1 {
  width: 390px;
  height: 234px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}
.rating-card-img-2 {
  width: 390px;
  height: 234px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}
.rating-card-img-1 img,
.rating-card-img-2 img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}
.rating-card-1 p,
.rating-card-2 p {
  text-align: center;
  position: absolute;
  bottom: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  color: #737373;
  font-family: Itim;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
  letter-spacing: 0.2px;
}
.rating-card-1:hover p,
.rating-card-2:hover p {
  visibility: visible;
  opacity: 1;
  position: absolute;
  bottom: 0;
  top: 60%;
  transform: translateY(-50%);
}
.rating-card-1 span,
.rating-card-2 span {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fa-star {
  color: yellow;
  width: 22.014px;
  height: 22.014px;
}
.rating-card-1 h5,
.rating-card-2 h5 {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  color: #252b42;
  text-align: center;
  font-family: Itim;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 109.091% */
  letter-spacing: 0.1px;
}
.rating-card-1 h6,
.rating-card-2 h6 {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #737373;
  text-align: center;
  font-family: Itim;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  letter-spacing: 0.2px;
}
.rating-card-img-1::before,
.rating-card-img-2::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: transparent;
  left: -50px;
  border-top-right-radius: 15px;
  box-shadow: none;
  transform: translateY(-200px);
  transition: 0.5;
  opacity: 1;
  pointer-events: none;
}
.rating-card-1:hover .rating-card-img-1::before,
.rating-card-2:hover .rating-card-img-2::before {
  opacity: 1;
  bottom: -83px;
  left: -60px;
  transform: translateY(-110px);
  box-shadow: 4px -9px 0 -2px #fff4ee;
  transition-delay: 0.4s;
}
.rating-card-img-1::after,
.rating-card-img-2::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: transparent;
  right: -50px;
  border-top-left-radius: 15px;
  box-shadow: none;
  transform: translateY(-200px);
  transition: 0.5;
  opacity: 0;
  pointer-events: none;
}
.rating-card-1:hover .rating-card-img-1::after,
.rating-card-2:hover .rating-card-img-2::after {
  opacity: 1;
  bottom: -83px;
  right: -60px;
  transform: translateY(-110px);
  box-shadow: -4px -9px 0 -2px #fff4ee;
  transition-delay: 0.4s;
}
.rating-title h3 {
  padding-bottom: 100px;
  color: #e1380d;
  text-shadow: 15px 15px 8px rgba(255, 151, 99, 0.35);
  font-family: Itim;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 118.75% */
  letter-spacing: 0.3px;
  text-decoration-line: underline;
  text-transform: uppercase;
}
.rating-container .rating-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100px;
}
/* FOOTER */
.footer {
  width: 100%;
  height: 267px;
  background-color: #ff9763;
  position: relative;
}
.footer-social {
  height: 60px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #ff9763;
  border-top: 1px solid #fff;
}
.footer-title {
  width: 201px;
  height: 11px;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}
.footer-title p {
  color: #fff;
  font-family: Itim;
  font-size: 11.41px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer-social-logo {
  min-width: 130px;
  min-height: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
  background-color: #ff9763;
}
.footer-social-logo .fa-footer {
  color: #e84b23;
  font-size: 22px;
  margin: 15px 15px 15px 10px;
}
.footer-social-logo .fa-footer:hover {
  opacity: 0.5;
}
.footer-container {
  position: absolute;
  top: 0;
  background-color: #ff9763;
  width: 100%;
  height: 207px;
}
.footer-logo {
  width: 269px;
  height: 105px;
  position: absolute;
  left: 5%;
  top: 30%;
  transform: translateY(-50%);
}
.footer-logo a {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}
.footer-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer-quick-link {
  width: 139px;
  height: 96px;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  left: 30%;
  background-color: #ff9763;
}
.footer-quick-link .quick-link-title {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-family: Itim;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-quick-link .quick-link-item-1,
.footer-quick-link .quick-link-item-2 {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #fff;
  font-family: Itim;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-quick-link .quick-link-item-1 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.footer-quick-link .quick-link-item-2 {
  position: absolute;
  left: 0;
  margin-top: 10px;
  bottom: 0;
}
.quick-link-title::after {
  content: "";
  display: inline-block;
  border: 1px solid #fff;
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
}
.footer-other {
  width: 225px;
  height: 163px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 47%;
  background-color: #ff9763;
}
.footer-other-title-item {
  width: auto;
  height: 91.1%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ff9763;
}
.footer-other-terms {
  width: 222px;
  height: 8.9%;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.footer-other-terms p {
  color: #fff;
  font-family: Itim;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-other-title-item p {
  margin-top: 10px;
  color: #fff;
  font-family: Itim;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-other-title-item h3 {
  color: #fff;
  font-family: Itim;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-other-title-item h3::after {
  content: "";
  display: inline-block;
  border: 1px solid #fff;
  position: absolute;
  width: 30%;
  top: 16%;
  right: 70%;
}
.footer-send-notify {
  width: 353px;
  height: 94px;
  position: absolute;
  left: 67%;
  top: 34%;
  transform: translateY(-50%);
  background-color: #ff9763;
}
.footer-send-notify-title {
  position: absolute;
  top: 0;
  left: 0;
}
.footer-send-notify-title p {
  color: rgba(255, 255, 255, 0.9);
  font-family: Itim;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 144.444% */
}
.footer-send-input input {
  position: absolute;
  bottom: -56px;
  left: 0;
  border-radius: 15px;

  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.footer-btn-sub {
  width: 112.456px;
  height: 38.143px;
  position: absolute;
  border-radius: 15px;
  background: #e84b23;
  bottom: 0;
  left: 50%;
  border: 1px;
}
.footer-btn-sub p {
  color: #fff;
  font-family: Itim;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.footer-send-input {
  position: relative;
  width: 259.811px;
  height: 38.143px;
}
/* EFFECT HOVER MENU */
.header-nav-item a::after {
  content: "";
  background-color: #fff;
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
.header-nav-item:hover a::after {
  width: 100%;
}
.header-nav-item span {
  background-color: #fff;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
}
